html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
}
p {
    color: $blanco;
    font-size: 1.7rem;
}
.contenedor {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: 0 0 $separacion / 2 0 ;
    font-weight: 900;
    color: $azul;
    text-align: center;
}

h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.5rem;
    text-align: center;
}

// Media queries para cambiar tamaño de fuentes cuando es un dispositivo pequeño

@media (max-width: $telefono){
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    p {
        font-size: 1.4rem;
    }
}