.formulario{
    width: 95%;

    .campo{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    
        label{
            flex: 0 0 10rem;
            color: $blanco;
        }
    
        input{
            flex: 1 0 0;
            padding: $separacion/4;
            border-radius: 1rem;
            border: none;
            max-width: 95%;
            &:last-of-type{
                width: 0%;
            }
        }
    }
}

.alerta{
    display: block;
    width: 100%;
    padding: $separacion/2;
    color: $blanco;
    text-align: center;

    &.error{
        background: rgb(255, 0, 0);
        border-radius: 1rem;
    }
}